:root {
  --link-color: #2255ee;
  --link-color-rgb: 34 85 238;
  --border-color: #ccc;
  --width-pc: 800px;
}

* {
  box-sizing: border-box;
}

body, ul {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 1.2rem;
}

a {
  color: var(--link-color);
}

my-header::part(content) {
  width: var(--width-pc);
  margin: auto;
}

main {
  padding: 1.5rem 1rem 2.5rem;
  .content {
    width: var(--width-pc);
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  main .content {
    width: 100%;
  }
  my-header::part(content) {
    width: 100%;
  }
}

/** SHIKI */
.content {
  .code {
    pre {
      padding: 1rem;
    }
  }
}