:root {
  --link-color: #2255ee;
  --link-color-rgb: 34 85 238;
  --border-color: #ccc;
  --width-pc: 800px;
  --is-sp: 0;
}

* {
  box-sizing: border-box;
}

body, ul {
  padding: 0;
  margin: 0;
}

h2 {
  background-color: #f1f1f1;
  padding: 4px;
}

h3 {
  margin-block: .5rem;
  padding: 4px;
}

ul {
  padding-left: 1.2rem;
}

a {
  color: var(--link-color);
}

my-header::part(content) {
  width: var(--width-pc);
  margin: auto;
}

main {
  padding: 1.5rem 1rem 2.5rem;
  .content {
    width: var(--width-pc);
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  main .content {
    width: 100%;
  }
  my-header::part(content) {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --is-sp: 1;
  }
}

/* 説明ブロック */
.description {
  margin-block: 1rem;
  font-size: .8rem;
  line-height: 1.8;
}

/* インラインのコード */
.code {
  display: inline-block;
  margin-inline: 4px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 20px;
  padding: 0 4px;
}